<div>
    <table class="table">
        <tr>
            <td><label>Name</label></td>
            <td>{{model.employee.employee_name}}</td>
        </tr>
        <tr>
            <td><label>Birthday</label></td>
            <td>{{model.employee.birthmonth}}/{{model.employee.birthday}}/{{model.employee.birthyear}}</td>
        </tr>
        <tr>
            <td><label>Hire Date</label></td>
            <td>{{model.employee.hiremonth}}/{{model.employee.hireday}}/{{model.employee.hireyear}}</td>
        </tr>
    </table>
</div>
<!-- {
"action": "browse_vehicles",
"vehicle": {
"transactionid_original": "8471767",
"make": "Kia",
"plate": "AKN4935",
"deleted": 0,
"nickname": "Vic's car",
"color": "Blue",
"year": "2009",
"vin": "KNDJE723697574404",
"model": "Sportage",
"vehicle_id": "1",
"transactionid": "8471767"
}
} -->
