
<!-- {{model.vehicle}} -->
<!-- Vehicle Details {"year":"2010","vin":"IFMEU7FEOAO6814","color":"blue","vehicle_id":"2","transactionid":"10232559","model":"Explorer","make":"Ford","transactionid_original":"10232559","plate":"ACC7233","nickname":"explorer","deleted":0} -->
<div>
    <table class="table">
        <tr>
            <td><label>Nickname</label></td>
            <td>{{model.vehicle.nickname}}</td>
        </tr>
        <tr>
            <td><label>Year</label></td>
            <td>{{model.vehicle.year}}</td>
        </tr>
        <tr>
            <td><label>Color</label></td>
            <td>{{model.vehicle.color}}</td>
        </tr>
        <tr>
            <td><label>Make</label></td>
            <td>{{model.vehicle.make}}</td>
        </tr>
        <tr>
            <td><label>Model</label></td>
            <td>{{model.vehicle.model}}</td>
        </tr>
        <tr>
            <td><label>Plate</label></td>
            <td>{{model.vehicle.plate}}</td>
        </tr>
        <tr>
            <td><label>VIN</label></td>
            <td>{{model.vehicle.vin}}</td>
        </tr>
    </table>
</div>
<!-- {
"action": "browse_vehicles",
"vehicle": {
"transactionid_original": "8471767",
"make": "Kia",
"plate": "AKN4935",
"deleted": 0,
"nickname": "Vic's car",
"color": "Blue",
"year": "2009",
"vin": "KNDJE723697574404",
"model": "Sportage",
"vehicle_id": "1",
"transactionid": "8471767"
}
} -->
