<div layout="col" ng-cloak  >
    <div><my-menu-bar /></div>
    <div class="md-padding">
        <md-content class="md-padding">
   <md-tabs md-selected="data.selectedIndex" md-align-tabs="top">
     <md-tab id="tab1">
       <md-tab-label>Browse</md-tab-label>
       <md-tab-body>
         View for Item #1 <br/>
         data.selectedIndex = 0;
       </md-tab-body>
     </md-tab>
     <md-tab id="tab2">
       <md-tab-label>Bids</md-tab-label>
       <md-tab-body>
         View for Item #2 <br/>
         data.selectedIndex = 1;
       </md-tab-body>
     </md-tab>
     <md-tab id="tab3">
       <md-tab-label>Auctions</md-tab-label>
       <md-tab-body>
        New Auctions and Existing Aucitons
        New:
            Item
            Starting Price
            Buyout Price
            Duration

        Existing:
            Name (picture)
            Time Left
            Highest Bidder
            Current Bid (Starting Price/Buyout Price)
            #Items
       </md-tab-body>
     </md-tab>
   </md-tabs>
 </md-content>
 <!-- <div class="md-padding" layout="row" layout-sm="column" layout-align="left center"
      style="padding-top: 0;">
   <md-checkbox ng-model="data.secondLocked" aria-label="Disable item two?" style="margin: 5px;">
     Disable item two?
   </md-checkbox>
   <md-checkbox ng-model="data.bottom" aria-label="Align tabs to bottom?" style="margin: 5px;">
     Align tabs to bottom?
   </md-checkbox> -->
 </div>
</div>
