<div layout="col">

    <div><my-menu-bar /></div>

    <div class="md-padding">
        <div ng-if="vm.showdashboard">
            <form ng-submit="vm.onsubmit($event)" name="vm.inputform" novalidate>
                <formly-form model="vm.formmodel" fields="vm.formfields" options="vm.formoptions" form="vm.inputform">
                </formly-form>
            </form>
        </div>
        <div ng-if="!vm.showdashboard">
            <div ng-if="!vm.showinputs">
                <h5> </h5>
                <form ng-submit="vm.ontask()" name="vm.taskform" novalidate>
                    <formly-form model="vm.taskmodel" fields="vm.taskfields" >
                        <button type="submit" ng-if="!!vm.taskmodel.task" class="btn btn-primary submit-button" ng-disabled="vm.taskform.$invalid">Go</button>
                        <!-- <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Clear</button> -->
                    </formly-form>
                </form>
            </div>
            <!-- <br /> -->
            <div ng-if="vm.showinputs">
                <h5>{{vm.taskinfo.desc}}</h5>
                <!-- <br /> -->
                <form ng-submit="vm.onsubmit($event)" name="vm.inputform" novalidate>
                    <formly-form model="vm.formmodel" fields="vm.formfields" options="vm.formoptions" form="vm.inputform">
                        <div ng-if="!vm.show_view_inventory || !vm.show_batch_adjust">
                            <button ng-show="!vm.hidego" flex type="submit" class="btn btn-primary submit-button" ng-disabled="vm.inputform.$invalid">Go</button>
                        </div>
                        <button ng-if="vm.showclear" type="button" class="btn btn-default" ng-click="vm.cancel()">Clear</button>
                    </formly-form>
                </form>
            </div>
            <!-- <br /> -->
        </div>

        <div ng-if="vm.show_view_manifest_table">
            <manifest-table></manifest-table>
        </div>

        <div ng-if="vm.show_view_transfer_table">
            <transfer-table></transfer-table>
        </div>
        <!-- <div ng-if="vm.show_view_inventory">
            <view-inventory />
        </div> -->
        <!-- <div ng-if="vm.show_view_inventory_item">
            <view-inventory-item />
        </div> -->
        <!-- <div ng-if="vm.show_view_plant_table">
            view plants!!<view-plants-table />
        </div> -->
        <!-- <bars-chart chart-data="vm.myData"  ></bars-chart> -->
        <br />
        <pre ng-if="vm.formmodel">{{vm.formmodel | json}}</pre>
        <pre ng-if="vm.taskmodel">{{vm.taskmodel | json}}</pre>
        <!-- {{vm.showinputs}} -->
    </div>
</div>
<!-- </div> -->
