<div layout="col">

    <div><my-menu-bar /></div>
    <div class="md-padding">
                <!-- <h5>Task Info: {{vm.taskinfo.desc}}</h5> -->
                <!-- <div class="well well-sm"> -->
                    <form ng-submit="vm.onsubmit($event)" name="vm.inputform" novalidate>
                        <formly-form model="vm.formmodel" fields="vm.formfields" options="vm.formoptions" form="vm.inputform">
                            <div class="md-padding" ng-if="!vm.show_view_inventory || !vm.show_batch_adjust">
                                <button ng-show="!vm.hidego" flex type="submit" class="btn btn-primary submit-button" ng-disabled="vm.inputform.$invalid">Go</button>
                            </div>
                        </formly-form>
                    </form>
                <!-- </div> -->
            <!-- <br /> -->

        <br />
        <pre ng-if="vm.formmodel">{{vm.formmodel | json}}</pre>
        <!-- <pre ng-if="vm.taskmodel">{{vm.taskmodel | json}}</pre> -->
        <!-- {{vm.showinputs}} -->
    </div>
    </div>
</div>
<!-- </div> -->
