<div ng-controller="to.controller" flex ng-cloak>
  <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="16px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="option in to.options"
                  md-rowspan="{{option.span.row}}"
                  md-colspan="{{option.span.col}}"
                  md-colspan-sm="1"
                  class="{{option.id}} z-depth-1"
                  ng-click="selectdashboardoption(option[to.valueProp])"
    >

                  <i class="fa {{option.icon}} fa-5x" style="color:white"></i>

      <!-- <md-icon md-svg-icon="{{option.icon}}"></md-icon> -->
      <md-grid-tile-footer class="footercaptionbox">
        <div class='footercaption'>
            <h3>{{option[to.labelProp]}}</h3>
        </div>

      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
 <!-- +'<md-tab ng-repeat="option in to.options"><a ng-click="ondashboardsubmit()">{{option[to.labelProp]}}</a></md-tab></md-tabs>' -->
