<div layout="column">
    <!-- <md-toolbar class="z-depth-2" layout="row"> -->
<md-toolbar class="" layout="row">
    <div class="md-toolbar-tools">
        <div align="left" flex='25'>
            <!-- <a ng-click="toHistory()">{{email}}</a> -->
        </div>
        <div align="center" flex='50'>
            <a ng-click="toDashboard()">potnet!potnet</a>
            <!-- <img align="center" src="img/potlogo.png" /> -->
        </div>
        <div align="right" flex='25'>
                <!-- <div flex="50" ng-show="!hideFeedback"><label ng-click="gotoHelp()">Feedback</label></div> -->
                <div flex ng-show="!hideSignout"><label><a ng-click="gotoLogin()">Sign Out</a></label></div>
                <!-- <div flex="50" ng-show="!hideSignup"><a ng-click="gotoSignUp()">Sign Up</a></div> -->
        </div>
<!--
        <div align="right" flex>
            <a align="right"></a>
        </div> -->

    </div>
</md-toolbar>
</div>
<div layout="column">

<md-toolbar ng-if="!!title[1]" class="toptoolbar" layout="row">

    <div class="md-toolbar-tools" layout="row">
        <!-- <div align-center ng-repeat="title in title">
            <div><a>{{title}}</a></div>
        </div> -->
        <!-- <div ng-show="!!title[0]">{{title[0].label}}</div> -->
        <!-- <div ng-show="!!title[1]"><i class="fa fa-chevron-right"></i></div> -->
        <div ng-show='!!showback' ng-click="back()"><p class="md-padding"><i class="fa fa-chevron-left"></i></p></div>
        <div><p><i ng-show="!!breadcrumbs[1].icon" class="fa {{breadcrumbs[1].icon}}"></i> {{breadcrumbs[1].label}}</p></div>
        <div ng-show="!!breadcrumbs[2].icon"><p class="md-padding"><i class="fa fa-angle-right"></i></p></div>
        <div ng-show="!!breadcrumbs[2].icon"><p><i class="fa {{breadcrumbs[2].icon}}"></i> {{breadcrumbs[2].label}}</p></div>
        <div ng-show="!!breadcrumbs[3].icon"><p class="md-padding"><i class="fa fa-angle-right"></i></p></div>
        <div ng-show="!!breadcrumbs[3].icon"><p><i class="fa {{breadcrumbs[3].icon}}"></i> {{breadcrumbs[3].label}}</p></div>
        <div ng-show="!!breadcrumbs[4].icon"><p class="md-padding"><i class="fa fa-angle-right"></i></p></div>
        <div ng-show="!!breadcrumbs[4].icon"><p><i class="fa {{breadcrumbs[4].icon}}"></i> {{breadcrumbs[4].label}}</p></div>

</md-toolbar>
</div>
