<md-toolbar class="blue darken-4" layout="row">
    <div class="md-toolbar-tools" layout="row">
        <!-- <div align-center ng-repeat="navarray in navarray">
            <div><a>{{navarray}}</a></div>
        </div> -->
        <!-- <div ng-show="!!navarray[0]">{{navarray[0]}}</div> -->
        <!-- <div ng-show="!!navarray[1]"><i class="fa fa-chevron-right"></i></div> -->
        <div ng-show="!!navarray[1]"><a>{{navarray[1]}}</a></div>
        <div ng-show="!!navarray[2]">&nbsp;&nbsp;<i class="fa fa-angle-right"></i></div>
        <div ng-show="!!navarray[2]">&nbsp;&nbsp;<a>{{navarray[2]}}</a></div>
        <div ng-show="!!navarray[3]">&nbsp;&nbsp;<i class="fa fa-angle-right"></i></div>
        <div ng-show="!!navarray[3]">&nbsp;&nbsp;<a>{{navarray[3]}}</a></div>

</md-toolbar>
